In [1]:
import numpy as np
import pandas as pd
from pylab import rcParams
import seaborn as sb
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [3]:
rcParams['figure.figsize'] = 5, 4 
sb.set_style('whitegrid')

In [4]:
data = pd.read_csv('Data_2013.csv')

In [5]:
data = data.iloc[0:50, :]

In [6]:
data

,State,Energy Consumption(Trillion BTU),GDP(Bllions),Population Density(per sqkm),Average Temp(in Celsius)
0,Texas,12944.1,1395.4,39.1,18.2
1,Florida,7684.1,749.3,140.8,21.5
2,California,4077.9,2055.2,95.0,15.2
3,Illinois,4011.5,672.1,89.6,11.0
4,Louisiana,3835,211.9,41.3,19.1
5,Pennsylvania,3795,598.4,110.2,9.3
6,Ohio,3745.4,521.2,109.3,10.4
7,New York,3625.3,1248.4,161.0,7.4
8,Indiana,2900,288.1,70.8,10.9
9,Michigan,2843.2,409.6,67.6,6.9
10,Georgia,2795.4,425.7,67.1,17.5
11,North Carolina,2524.1,434.2,78.2,15.0
12,Virginia,2410.7,427.4,80.8,12.8
13,New Jersey,2314.5,502.2,467.2,11.5
14,Tennessee,2135.9,271.3,60.8,14.2
15,Washington,2039.3,379.0,40.5,9.1
16,Alabama,1931.4,181.1,36.9,17.1
17,Minnesota,1859.8,284.2,26.3,5.1
18,Missouri,1857,257.5,33.9,12.5
19,Kentucky,1822.7,170.2,43.0,13.1
20,Wisconsin,1804,266.0,40.9,6.2
21,Oklahoma,1622.8,158.0,21.7,15.3
22,South Carolina,1591.4,170.8,61.3,16.9
23,Iowa,1516.5,151.9,21.4,8.8
24,Colorado,1471.8,267.2,19.6,7.3
25,Massachusetts,1442.6,415.4,331.3,8.8
26,Arizona,1414.8,257.2,22.5,15.7
27,Maryland,1403.8,318.7,235.8,12.3
28,Kansas,1163.1,130.5,13.7,12.4
29,Mississippi,1141.8,95.6,24.6,17.4
30,Arkansas,1093,109.9,22.0,15.8
31,Oregon,996.7,196.8,15.8,9.1
32,Nebraska,871.8,98.5,9.4,9.3
33,Utah,830.6,124.3,13.6,9.2
34,Connecticut,748.1,231.2,286.7,9.4
35,West Virginia,737.8,64.7,29.8,11.0
36,New Mexico,688.5,82.7,6.6,11.9
37,Nevada,657.1,119.6,9.8,9.9
38,Alaska,609,49.4,0.5,-3.0
39,North Dakota,588.6,45.4,4.0,4.7
40,Wyoming,535.5,35.7,2.3,5.6
41,Idaho,529.5,56.1,7.5,6.9
42,Maine,407.1,50.9,16.6,5.0
43,Montana,401.2,38.8,2.7,5.9
44,South Dakota,390.4,39.6,4.3,7.3
45,New Hampshire,302.8,64.8,57.1,6.6
46,Hawaii,277.1,70.0,84.4,21.1
47,Delaware,274.5,56.0,183.4,12.9
48,Rhode Island,193.6,49.9,392.7,10.1
49,Vermont,133.6,27.0,26.3,6.1

In [7]:
data.dtypes

State                                object
Energy Consumption(Trillion BTU)     object
GDP(Bllions)                        float64
Population Density(per sqkm)        float64
Average Temp(in Celsius)            float64
dtype: object

In [8]:
data["Energy Consumption(Trillion BTU)"] = pd.to_numeric(data["Energy Consumption(Trillion BTU)"])

In [9]:
data.dtypes

State                                object
Energy Consumption(Trillion BTU)    float64
GDP(Bllions)                        float64
Population Density(per sqkm)        float64
Average Temp(in Celsius)            float64
dtype: object

In [10]:
data.corr()

,Energy Consumption(Trillion BTU),GDP(Bllions),Population Density(per sqkm),Average Temp(in Celsius)
Energy Consumption(Trillion BTU),1.000000,0.728583,0.062098,0.428460
GDP(Bllions),0.728583,1.000000,0.208453,0.265089
Population Density(per sqkm),0.062098,0.208453,1.000000,0.098762
Average Temp(in Celsius),0.428460,0.265089,0.098762,1.000000